.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}
/* Every div with a class of square will be styled like below */
.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}
